DATABASE_URL=postgresql://tcc_usr:tcc_pwd@db:5432/tcc_db
MEDIA_MTX_HOST=http://mediamtx
CONTROL_API_PORT=9997
HLS_PORT=8888
WEBRTC_PORT=8889
MEDIAMTX_API_USER=api-backend
MEDIAMTX_API_PASS=UMA_SENHA_FORTE_E_SECRETA_AQUI
SECRET_KEY=dev_secret_key_change_me_in_prod
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Configurações de Deploy (Ambiente UFF)
PUBLIC_SERVER_IP=127.0.0.1
PUBLIC_HLS_PORT=18888
PUBLIC_WEBRTC_PORT=18889
